body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1149px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1147px;
  height:1617px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 6px rgba(215, 215, 215, 1);
  -webkit-box-shadow:5px 5px 6px rgba(215, 215, 215, 1);
  box-shadow:5px 5px 6px rgba(215, 215, 215, 1);
}
#u8849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1147px;
  height:1617px;
  display:flex;
}
#u8849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1349px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8850 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:134px;
  width:1000px;
  height:1349px;
  display:flex;
}
#u8850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#555555;
}
#u8851 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:23px;
  width:70px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#555555;
}
#u8851 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8851_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8853 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:28px;
  width:100px;
  height:34px;
}
#u8854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u8854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#00BFBF;
}
#u8854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1101px;
}
#u8855 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:134px;
  width:1000px;
  height:1101px;
  display:flex;
}
#u8855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
