body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-147px;
  width:1147px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u17537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1147px;
  height:1168px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 6px rgba(215, 215, 215, 1);
  -webkit-box-shadow:5px 5px 6px rgba(215, 215, 215, 1);
  box-shadow:5px 5px 6px rgba(215, 215, 215, 1);
}
#u17537 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:110px;
  width:1147px;
  height:1168px;
  display:flex;
}
#u17537 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:883px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17538 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:244px;
  width:1000px;
  height:883px;
  display:flex;
}
#u17538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:675px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:25px;
}
#u17539 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:342px;
  width:691px;
  height:675px;
  display:flex;
  line-height:25px;
}
#u17539 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00BFBF;
  text-align:center;
}
#u17540 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:274px;
  width:52px;
  height:15px;
  display:flex;
  color:#00BFBF;
  text-align:center;
}
#u17540 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17540_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u17541 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:1060px;
  width:1000px;
  height:1px;
  display:flex;
}
#u17541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00BFBF;
  text-align:center;
}
#u17542 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:1080px;
  width:52px;
  height:15px;
  display:flex;
  color:#00BFBF;
  text-align:center;
}
#u17542 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17542_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00BFBF;
  text-align:center;
}
#u17543 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:274px;
  width:52px;
  height:15px;
  display:flex;
  color:#00BFBF;
  text-align:center;
}
#u17543 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17543_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00BFBF;
  text-align:center;
}
#u17544 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:1080px;
  width:52px;
  height:15px;
  display:flex;
  color:#00BFBF;
  text-align:center;
}
#u17544 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17544_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:2px;
}
#u17545 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:106px;
  width:1147px;
  height:1px;
  display:flex;
}
#u17545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u17546 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:71px;
  width:123px;
  height:30px;
  display:flex;
  color:#555555;
}
#u17546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
