body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-147px;
  width:1147px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1147px;
  height:1552px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 6px rgba(215, 215, 215, 1);
  -webkit-box-shadow:5px 5px 6px rgba(215, 215, 215, 1);
  box-shadow:5px 5px 6px rgba(215, 215, 215, 1);
}
#u4175 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:110px;
  width:1147px;
  height:1552px;
  display:flex;
}
#u4175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1350px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4176 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:244px;
  width:1000px;
  height:1350px;
  display:flex;
}
#u4176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:1125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:25px;
}
#u4177 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:364px;
  width:691px;
  height:1125px;
  display:flex;
  line-height:25px;
}
#u4177 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00BFBF;
  text-align:center;
}
#u4178 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:274px;
  width:52px;
  height:15px;
  display:flex;
  color:#00BFBF;
  text-align:center;
}
#u4178 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4178_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u4179 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:1530px;
  width:1000px;
  height:1px;
  display:flex;
}
#u4179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00BFBF;
  text-align:center;
}
#u4180 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:1550px;
  width:52px;
  height:15px;
  display:flex;
  color:#00BFBF;
  text-align:center;
}
#u4180 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4180_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:2px;
}
#u4181 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:106px;
  width:1147px;
  height:1px;
  display:flex;
}
#u4181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u4182 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:71px;
  width:123px;
  height:30px;
  display:flex;
  color:#555555;
}
#u4182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00BFBF;
  text-align:center;
}
#u4183 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:274px;
  width:52px;
  height:15px;
  display:flex;
  color:#00BFBF;
  text-align:center;
}
#u4183 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4183_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00BFBF;
  text-align:center;
}
#u4184 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:1550px;
  width:52px;
  height:15px;
  display:flex;
  color:#00BFBF;
  text-align:center;
}
#u4184 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4184_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
