body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-147px;
  width:1147px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1147px;
  height:1552px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 6px rgba(215, 215, 215, 1);
  -webkit-box-shadow:5px 5px 6px rgba(215, 215, 215, 1);
  box-shadow:5px 5px 6px rgba(215, 215, 215, 1);
}
#u10995 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:110px;
  width:1147px;
  height:1552px;
  display:flex;
}
#u10995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1350px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10996 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:244px;
  width:1000px;
  height:1350px;
  display:flex;
}
#u10996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:850px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:25px;
}
#u10997 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:365px;
  width:611px;
  height:850px;
  display:flex;
  line-height:25px;
}
#u10997 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u10998 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:1530px;
  width:1000px;
  height:1px;
  display:flex;
}
#u10998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00BFBF;
  text-align:center;
}
#u10999 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:1550px;
  width:52px;
  height:15px;
  display:flex;
  color:#00BFBF;
  text-align:center;
}
#u10999 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10999_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:2px;
}
#u11000 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:106px;
  width:1147px;
  height:1px;
  display:flex;
}
#u11000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u11001 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:71px;
  width:123px;
  height:30px;
  display:flex;
  color:#555555;
}
#u11001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00BFBF;
  text-align:center;
}
#u11002 {
  border-width:0px;
  position:absolute;
  left:1126px;
  top:274px;
  width:52px;
  height:15px;
  display:flex;
  color:#00BFBF;
  text-align:center;
}
#u11002 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11002_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00BFBF;
  text-align:center;
}
#u11003 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:1550px;
  width:52px;
  height:15px;
  display:flex;
  color:#00BFBF;
  text-align:center;
}
#u11003 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11003_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00BFBF;
  text-align:center;
}
#u11004 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:274px;
  width:26px;
  height:15px;
  display:flex;
  color:#00BFBF;
  text-align:center;
}
#u11004 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11004_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
